@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url(responsive.css);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

/*NAVIGATION BAR START*/
:root {
  --color-1: #a142f5;
}

.navcontainer{
  max-width: 1170px;
  margin:auto;
}

.navrow{
  display: flex;
  flex-wrap: wrap;
}

.align-items-center{
  align-items: center;
}

.justify-content-between{
  justify-content:space-between;
}

.header{
  background-color: var(--color-1);
  padding: 7px 0;
  position: relative;
  top: 7px;
}

.header .navlogo, .header .nav{
  padding: 0 15px;
}

a{
  text-decoration: none;
}

.header .navlogo a{
  font-size: 45px;
  color: #ffffff;
  text-transform: capitalize;
  font-family: 'Righteous', cursive;
}

.header .nav ul li{
  display: inline-block;
  margin-left: 40px;
  position: relative;
  left: 40%;
}

.header .nav ul li a{
  display: block;
  font-size: 19px;
  font-weight: 600;
  font-family: 'Merriweather', serif;
  padding: 10px 0;
  color: rgba(255,255,255,0.7);
  text-transform: capitalize;
  transition: all 0.5s ease;
}

.header .nav ul li a:hover,
.header .nav ul li a.active{
  color: #ffffff;

}

.header #nav-check{
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.nav-toggler{
  height: 34px;
  width: 44px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.nav-toggler span{
  display: block;
  height: 2px;
  width: 20px;
  background-color: var(--color-1);
  position: relative;
}

.nav-toggler span::before,
.nav-toggler span::after{
  content:'';
  position: absolute;
  width: 100%;
  height:100%;
  background-color: var(--color-1);
  left: 0;

}

.nav-toggler span::before{
  top: -6px;
}

.nav-toggler span::after{
  top: 6px;
}


@media(max-width: 991px){
  .nav-toggler{
    display: flex;
  }

  .header .nav{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--color-1);
    border-top: 1px solid rgba(255,255,255,0.2);
    opacity: 0;
    visibility: hidden;
  }

  .header .nav ul li{
    display: block;
    margin: 0;
  }

  .header #nav-check:checked ~ .nav{
    opacity: 1;
    visibility: visible;
  }

  .header #nav-check:focus ~ .nav-toggler{
    box-shadow: 0 0 15px #000000;

  }

  .header #nav-check:checked ~ .nav-toggler span{
    background-color: transparent;
  }

  .header #nav-check:checked ~ .nav-toggler span::before{
    top: 0;
    transform: rotate(45deg);
  }

  .header #nav-check:checked ~ .nav-toggler span::after{
    top: 0;
    transform: rotate(-45deg);
  }
}

/*NAVIGATION BAR END*/

/*MAIN BODY START*/


body
{
    margin: 0;
    padding: 0;
    font-family: 'Noto+Serif+SC',sans-serif;
    background: url(bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    box-sizing: border-box;
    background-color:#28282B ;
}


.rules{
  display: flex;
  margin-top: 50px;
  padding: 1%;
}


.siterules{
  background-color: #ed254eff;
  text-align: center;
  padding: 4%;
  padding-top: 1%;
  margin-left: 6%;
  margin-right: 4%;
  border-radius: 60px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 900;
}


.submain1 {
  font-size: 50px;
  margin-left: 20px;
  font-family: 'Audiowide', cursive;
  color: white;
  padding-bottom: 0;
  text-align: center;
  margin-top: 100px;
  text-decoration: underline;
  text-decoration-style:wavy ;
}


ol li{
  padding: 1%;
  margin-top: 5px;
  text-align: left;
}

.partylogo{
  width: 80%;
  max-width: 400px;
  border-radius: 2000px;
}

/*EACH PARTY PAMPHLATE START*/

.pamhead{
  font-family: 'Yeseva One', cursive;
  padding: 20px;
  color: white;
}

.newpartylogo{
  width: 60%;
  max-width: 400px;
  height: auto;
  border-radius: 2000px;
  margin-bottom: 40px;
}


.BJPsiterules{
  width: 30%;
  background-color: #c78cfa;
  text-align: center;
  padding: 4%;
  padding-top: 1%;
  margin-left: 6%;
  margin-top: 3%;
  margin-right: 4%;
  border-radius: 60px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.CONsiterules{
  width: 30%;
  background-color: #a142f5;
  text-align: center;
  padding: 4%;
  padding-top: 1%;
  margin-left: 5%;
  margin-right: 2%;
  margin-top: 3%;
  border-radius: 60px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.AAPsiterules{
  width: 30%;
  background-color: #c78cfa;
  text-align: center;
  padding: 4%;
  padding-top: 1%;
  margin-top: 3%;
  margin-left: 6%;
  margin-right: 4%;
  border-radius: 60px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 900;
  height: 570px;
}

.SAMsiterules{
  width: 34%;
  background-color: #a142f5;
  text-align: center;
  padding: 4%;
  padding-top: 1%;
  margin-left: 6%;
  margin-top: 5%;
  margin-right: 3%;
  border-radius: 60px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.BSPsiterules{
  width: 34%;
  background-color: #c78cfa;
  text-align: center;
  padding: 4%;
  padding-top: 1%;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 5%;
  border-radius: 60px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.JDUsiterules{
  width: 33%;
  background-color: #a142f5;
  text-align: center;
  padding: 4%;
  padding-top: 1%;
  margin-left: 3%;
  margin-top: 5%;
  margin-right: 4%;
  border-radius: 60px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: 900;
  height:570px;
}





/*EACH PARTY PAMPHLATE START*/



.secondlast{
  padding: 0.5%;
  text-align: center;
  background-color: orange;
}

.last{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  margin-left: 0px;
  margin-top: 20px;
  /*padding-left:  0;*/
  box-sizing: border-box;
}

/*MAIN BODY END*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: auto;
}

ul{
  list-style: none;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.footer{
  background-color: #011936ff;
  padding: 40px 0;
  margin-top: 10%;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;

}

.footer-col ul li a{
  font-size: 20px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.4s ease-in-out;
}

.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
}

.footer-col .social-links a:hover{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: white;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: black;
  transform: scale(1.3);
}

/*FOOTER END*/